{% extends "main.html" %}
{% block content %}

<!-- Header -->
<div class="row top-catalog">
	<div class="col-md-6">
		<a href="{{url_for('showAsins')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Asins
		</a>
	</div>
	<div class="col-md-6 text-right">

	</div>
</div>
<!-- Close header -->

	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner catalog">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ asin.name }}
			<figure class="creator">
				<img src="{{ creator.picture}}">
				<figcaption>{{ creator.name }}</figcaption>
			</figure>
			</h1>
		</div>

	</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">

		</div>
		<div class="col-md-7"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							 <li> <strong> {{ message }} </strong> </li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>
	</div>
	{% if items !=[] %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>Skus</h2>
					{% for i in items %}
						<div class="catalog-item">
							<h3>{{i.name}}</h3>
							</div>
					{% endfor %}
			</div>
		</div>
	{% endif %}

	{% if keywords !=[] %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>Keyword Phrases</h2>
					{% for keyword in keywords %}
						<div class="catalog-item">
							<h3>{{keyword.name}}</h3>
							</div>
					{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}
